name: Free Disk Space (Ubuntu)
on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  free-disk-space:
    runs-on: ubuntu-latest
    steps:
      # If there is a problem with this GitHub Actions, this step will fail
      - name: Free Disk Space
        uses: khulnasoft-lab/free-disk-space@master
        with:
          tool-cache: true

          # all of these default to true, but feel free to set to
          # false if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true
